{% extends 'sunset.html.twig' %}

{% block title %}Hugo Heuzebroc - Développeur full-stack{% endblock %}
{% block background %}/images/about.jpg{% endblock %}

{% block content %}
    <h1>Bonjour, je m'appelle Hugo</h1>
{% endblock %}