{% extends 'sunset.html.twig' %}

{% block title %}Hugo Heuzebroc - Développeur full-stack{% endblock %}
{% block background %}/images/sunset.jpg{% endblock %}

{% block content %}
    <div class="main-title">
        <h1>Hugo HEUZEBROC</h1>
        <h2>Développeur full-stack</h2>
    </div>
{% endblock %}