{% extends 'page.html.twig' %}

{% block title %}Hugo Heuzebroc{% endblock %}
{% block subtitle %}Développeur full-stack{% endblock %}
{% block background %}/images/code.jpg{% endblock %}

{% block main %}
    <p><em>Bonjour, je m'appelle Hugo !</em> J'ai 22 ans, j'habite dans l'Oise, et je suis passionné d'informatique. Dans le cadre de mes études, de mon travail ou simplement pour m'amuser, j'ai développé des sites webs, des applications métier, des API, des jeux vidéo et des systèmes d'exploitation. Je dispose d'un BTS Services informatiques aux organisations et d'une licence informatique générale, et je suis habitué à travailler en méthode agile.</p>

    <a class="download" href="cv.pdf" download>Télécharger mon CV</a>
{% endblock %}