{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <img class="background" src="/images/code.jpg">
        <div class="background overlay"></div>

        <div class="section-inner">
            <h2>{{ title }}</h2>
            <div class="section-inner-narrow">
                <p>{{ message }}</p>

                <h3><a href="/">Retourner à l'accueil</a></h3>
            </div>
        </div>
    </section>
{% endblock %}