{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <img class="background" src="/images/code.jpg">
        <div class="background overlay"></div>

        <div class="section-inner columns">
            <div class="column">
                <header>
                    <h1>{{ realisation.title }}</h1>
                </header>

                <div id="animation-first-paragraph">
                    <p>{{ realisation.intro }}</p>
                </div>
            </div>

            <div class="column">

            </div>
        </div>
    </section>
{% endblock %}