{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <img class="background" src="/images/code.jpg">
        <div class="background overlay"></div>

        <div class="section-inner">
            {{ form(form) }}
        </div>
    </section>
{% endblock %}
