/* CARDINAL LINKS */
a.cardinal {
  position: absolute;
  color: transparentize($color-text, 0.4);
  text-transform: uppercase;
  font-size: 1.5em;
  text-shadow: 0 1px 4px transparentize($color-text, 0.7);
  font-weight: bold;
  padding: 25px;
  transition: transform 1s ease-out;

  &.cardinal-static {
    position: static;
    display: inline-block;

    &.slidein {
      transform: translateY(-10vh);
    }
  }

  &.cardinal-top {
    top:0;
    left: 50%;
    transform: translateX(-50%);
    transition-delay: 1s;

    &.slidein {
      transform: translateY(-10vh) translateX(-50%);
    }
  }
  &.cardinal-right {
    right:0;
    top: 50%;
    transform: translateY(-50%);
    transition-delay: 1.3s;

    &.slidein {
      transform: translateY(-50%) translateX(19vw);
    }
  }
  &.cardinal-bottom {
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    transition-delay: 1.6s;

    &.slidein {
      transform: translateX(-50%) translateY(10vh);
    }
  }
  &.cardinal-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition-delay: 1.9s;

    &.slidein {
      transform: translateY(-50%) translateX(-19vw);
    }
  }
}

/* CARDINAL IMAGES */
div.cardinal {
  position: absolute;
  transition: 0.5s ease-out;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: -1;

  img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }

  &.cardinal-top {
    top:0;
    height: 12vh;
    border-bottom: 4px solid transparentize($color-text, 0.7);

    img {
      top: 0;
    }

    &.folded {
      height: 0;
      border: none;
    }
  }
  &.cardinal-right {
    top: 0;
    right:0;
    width: 17vw;
    border-left: 4px solid transparentize($color-text, 0.7);

    img {
      right: 0;
    }

    &.folded {
      width: 0;
      border: none;
    }
  }
  &.cardinal-bottom {
    bottom:0;
    height: 12vh;
    border-top: 4px solid transparentize($color-text, 0.7);

    img {
      bottom: 0;
    }

    &.folded {
      height: 0;
      border: none;
    }
  }
  &.cardinal-left {
    left: 0;
    top: 0;
    width: 17vw;
    border-right: 4px solid transparentize($color-text, 0.7);

    img {
      left: 0;
    }

    &.folded {
      width: 0;
      border: none;
    }
  }

  &.cardinal-top.deployed, &.cardinal-right.deployed, &.cardinal-bottom.deployed, &.cardinal-left.deployed {
    height: 100vh;
    width: 100%;
  }
}