.clock {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  height: 60vh;
  width: 60vh;

  .center {
    width: 0;
    height: 0;
    position: relative;
    top: 50%;
    left: 50%;

    .hand {
      position: relative;
      width: 0;
      height: 0;

      img {
        transform: translate(-50%, -3.25vh);
      }

      &.minute img {
        width: 4vh;
      }
      &.hour img {
        width: 7.5vh;
      }
    }
  }
}