@media (max-width: $md) {
  html {
    font-size: 150%;
  }

  section {
    .columns {
      .column {
        width: 100%;
        margin-bottom: 2rem;
      }

      &.column-centered {
        text-align: left;
      }
    }

    .text-columns {
      columns: 1;
    }
  }

  p.caption {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: left;
  }
}