$gradient-1: #ff461a;
$color-highlight: #ffbf00;
$selection: #0078D6;
$color-shadow: #5e003d;
$gradient-2: #de0068;
$color-text: #fff;

@mixin gradient-squares {
  background: linear-gradient(to left, $gradient-1, $gradient-2);
  color: $color-text;
  text-shadow: none;
  box-shadow: -5px -5px $color-shadow;
  transition: 0.3s;
  border: none;

  &:hover {
    transition: 0.3s;
    box-shadow: 5px 5px $color-highlight;
    color: $color-highlight;
  }
}