<div class="clock">
    <div class="center">
        <div class="hand hour">
            <img src="images/handhour.png">
        </div>
        <div class="hand minute">
            <img src="images/handminute.png">
        </div>
    </div>
</div>