<footer id="licensing">
    <p>© Hugo Heuzebroc 2023</p>
    <p>Site et thème par Hugo Heuzebroc. Site réalisé avec Symfony</p>
    <p>Crédits images : <a href="https://commons.wikimedia.org/wiki/File:Programming_code.jpg" target="_blank">Code</a> (CC-BY-SA 4.0) - <a href="https://commons.wikimedia.org/wiki/File:Sunset_at_Land%27s_end_in_San_Francisco.jpg" target="_blank">Coucher de soleil</a> (CC-BY-SA 3.0)</p>
</footer>